<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-bookings">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Bookings</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_bookings}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="bookings-done">
			  	<div class="card-header">
			  		<h5 class="card-title">Booked</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{booked}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="bookings-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Bookings Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>